@import "tailwindcss";

html,
body {
  height: 100%;
}
body {
  -webkit-font-smoothing: antialiased;
}

button {
  cursor: pointer;
}
.gradient-bg {
  background: linear-gradient(135deg, #3b82f6 0%, #10b981 100%);
}
.stats-card {
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  color: white;
}

/* 
---run docker yml file---
docker compose up -d

---stop docker containers yml file---
docker compose down


--- docker db web view(ui)---
docker run -d --name adminer -p 8080:8080 adminer




*/
